#search-container form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

#search-container form button {
    align-self: flex-end;
}

form label {
    align-self: center;
    font: bold 1.2rem Arial;
    margin-bottom: 10px;
}

#search-input {
    border-radius: 25px;
    text-align: center;
    height: 30px;
}

#search-input:focus {
    outline: none;
}

#search-btn {
    font: bold 1rem Arial;
    background-color: rgba(0, 0, 209, 0.884);
    color: white;
    border-radius: 25px;
    height: 24px;
    width: 140px;
    padding-top: 2px;
    margin: 4px 10px 0 0;
    box-shadow:  rgba(0, 0, 209, 0.884) 0 0 1px 0.5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#search-btn:hover {
    transform: scale(1.2);
    color: black;
    text-decoration: underline;
}

#search-btn:focus {
    outline: none;
}