#display-container {
    border: solid 2px black;
    border-radius: 25px;
    min-height: 200px;
    max-width: 1000px;
    padding-top: 10px;
    margin: auto;
    margin-top: 20px;
}

#display-container label {
    margin-left: 30px;
    font: bold 1.2rem Arial;
}