#link-buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}

.link-btn {
    text-align: center;
    font: bold 1.5rem Arial;
    background-color: rgba(0, 0, 209, 0.884);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    height: 36px;
    width: 220px;
    padding: 10px 8px 0px 8px;
    box-shadow:  rgba(0, 0, 209, 0.884) 0 0 1px 0.5px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.link-btn:hover {
    transform: scale(1.2);
    color: black;
    text-decoration: underline;
}